<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>模板展示</title>
	<script src="js/jquery.js"></script>
	<style type="text/css" media="screen">
		*{
			margin: 0px;
			padding:0px;
		}
		.header{
width: 100%;
z-index: 200;
height: 100px;
background:#3087f1;
position: fixed;
top: 0;
}
.i1{
	position: absolute;
	top: 2%;
	left: 15%;
}
.header-menu{
	width: 100%;
	height: 100px;
	margin-left: 50%;
	/*border: 1px solid red;*/
	padding-top: 36px;

}
.header-menu a{
	outline: none;
	text-decoration: none;
	color: #f3f3f3;
	font-size: 18px;
	margin: 21px;
	vertical-align: baseline;
	background-color: transparent;


}
.a  {
    color: #fff;
    font-weight: bold;
}
a{
	color:#555;
}
	</style>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<div class="header">
			
			<a href="纳网/html/homepage.html">
					<img class="i1" src="img/1.png">
				</a>
			<div class="header-menu">
				<a href="纳网/html/homepage.html">首页</a>
				<a href="fw.html">服务</a>
				<a href="jg.html">价格</a>
				<a href="al.html">案例</a>
				<a href="index.html" class="active">模板</a>
				<a href="纳网/html/about.html">关于</a>
				<a href="xw.html">新闻</a>
			</div>
		</div>
		<script>
$("a").click(function(){
    $(this).addClass("a");
    $(this).siblings("a").removeClass("a");
});
		</script>
	<div class="main">
		<div class="container">
			<div class="main_left" id="main_left">
				<div class="searchBar">
					<input type="text" name="" value="" placeholder="搜索您需要的模板">
					<img src="images/search.png" alt="" class="search">
				</div>
				<span class="title-1">排序方式:</span>
				<ul class="title-1_content">
					<li><a href="#item-1" title="">综合</a></li>
					<li><a href="#" title="" class="active-list">推荐</a></li>
					<li><a href="#" title="">时间</a></li>
					<li><a href="#" title="">热度</a></li>
				</ul>
				<span class="title-2">行业分类：</span>
				<ul class="title-2_content">
					<li style="margin-top: 0px;"><a href="#main_right" title="">全部</a></li>
					<li><a href="#" title="">电商</a></li>
					<li><a href="#" title="">旅游</a></li>
					<li><a href="#" title="">汽车</a></li>
					<li><a href="#" title="">其他</a></li>
					<li><a href="#" title="">房产</a></li>
					<li><a href="#" title="">加工制造</a></li>
					<li><a href="#" title="">节日</a></li>
					<li><a href="#" title="" class="active-list">IT互联网</a></li>
					<li><a href="#" title="">餐饮</a></li>
					<li><a href="#" title="">金融</a></li>
					<li><a href="#" title="">服装</a></li>
					<li><a href="#" title="">酒店</a></li>
					<li><a href="#" title="">教育</a></li>
					<li><a href="#" title="">公益</a></li>
					<li><a href="#" title="">空白模板</a></li>
					<li><a href="#" title="">商务服务</a></li>
					<li><a href="#" title="">运动</a></li>
					<li><a href="#" title="">广告传媒</a></li>
					<li><a href="#" title="">食品</a></li>
					<li><a href="#" title="">医疗</a></li>
					<li><a href="#" title="">婚庆</a></li>
					<li><a href="#" title="">活动</a></li>
					<li><a href="#" title="">临时模板</a></li>
				</ul>
			</div>
			<div class="main_right" id="main_right">
				 <ul class="main_right_content" id="main_right_content">
				 	<li class="active-main_right_content" id="content-1">
				 	<h1>选择您心仪的网站模板</h1>
				 	   <div class="active-item">
				 	       <ul class="item-1" id="item-1">
				 			<li v-for="num in img"><a :href="num.href"><img :src="num.src" alt=""><span>{{num.str}}</span></a></li>
				 		   </ul>
				 		</div>
				 		<div>
				 	       <ul class="item-1" id="item-2">
				 			<li v-for="num in img"><a :href="num.href"><img :src="num.src" alt=""><span>{{num.str}}</span></a></li>
				 		   </ul>
				 		</div>
				 		<div>
				 	       <ul class="item-1" id="item-3">
				 			<li v-for="num in img"><a href="num.href"><img :src="num.src" alt=""><span>{{num.str}}</span></a></li>
				 		   </ul>
				 		</div>
				 		<div>
				 	       <ul class="item-1" id="item-4">
				 			<li v-for="num in img"><a href="https://icegeeker.github.io/effective-succotash/3.hunshasheying/"><img :src="num.src" alt=""><span>{{num.str}}</span></a></li>
				 		   </ul>
				 		</div>
				 		
				 		<ul class="item-1_btn" id="item-1_btn">
				 				<li><a href="#" class="active-btn">1</a></li>
				 				<li><a href="#">2</a></li>
				 				<li><a href="#">3</a></li>
				 				<li><a href="#">4</a></li>
				 				<li style="width: 50px;"><a href="#" style="border-radius: 15px;font-size:12px;">下一页</a></li>
				 	    </ul>
				 	</li>
				 	<li>2</li>
				 	<li>3</li>
				 	<li>4</li>
				 	<li>5</li>
				 	<li>6</li>
				 	<li>7</li>
				 	<li>8</li>
				 	<li>9</li>
				 	<li>10</li>
				 	<li>11</li>
				 	<li>12</li>
				 	<li>13</li>
				 	<li>14</li>
				 	<li>15</li>
				 	<li>16</li>
				 	<li>17</li>
				 	<li>18</li>
				 	<li>19</li>
				 	<li>20</li>
				 	<li>21</li>
				 	<li>22</li>
				 	<li>23</li>
				 	<li>24</li>
				 	<li>25</li>
				 </ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<span>Copyright © 2014-2017 河北纳网网络科技有限公司 版权所有 冀ICP备16030291号</span>
		</div>
	</div>


	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript">
		var item_1=new Vue({
			el:"#item-1",
			data:{
				img:[{href:"https://icegeeker.github.io/effective-succotash/0",src:"images/0.png",str:"PC-互联"},
				{href:"https://icegeeker.github.io/effective-succotash/1.lanseitkeji/",src:"images/1.png",str:"PC-互联"},
				{href:"https://icegeeker.github.io/effective-succotash/2.lansexinxi/",src:"images/2.png",str:"PC-科技"},
				{href:"https://icegeeker.github.io/effective-succotash/3.hunshasheying/",src:"images/3.png",str:"PC-互联网"},
				{href:"https://icegeeker.github.io/effective-succotash/4.canting/",src:"images/4.png",str:"PC-互联网"},
				{href:"https://icegeeker.github.io/effective-succotash/5.huoyun/",src:"images/5.png",str:"V2-PC-IT互联网"},
				{href:"https://icegeeker.github.io/effective-succotash/6.heise/",src:"images/6.png",str:"PC-科技"},
				{href:"https://icegeeker.github.io/effective-succotash/7/",src:"images/7.png",str:"PC-旅游"},
				{href:"https://icegeeker.github.io/effective-succotash/8",src:"images/8.png",str:"PC-IT"},
				]
				
			}
			
		})
		var item_2=new Vue({
			el:"#item-2",

			data:{
				img:[{href:"https://icegeeker.github.io/effective-succotash/9",src:"images/9.png",str:"个人网站列表-PC"},
				{href:"https://icegeeker.github.io/effective-succotash/10",src:"images/10.png",str:"PC-"},
				{href:"https://icegeeker.github.io/effective-succotash/11",src:"images/11.png",str:"PC-"},
				{href:"https://icegeeker.github.io/effective-succotash/12",src:"images/12.png",str:"PC-"},
				{href:"https://icegeeker.github.io/effective-succotash/13",src:"images/13.png",str:"PC-"},
				{href:"https://icegeeker.github.io/effective-succotash/14",src:"images/14.png",str:"V2"},
				{href:"https://icegeeker.github.io/effective-succotash/15",src:"images/15.png",str:"PC"},
				{href:"https://icegeeker.github.io/effective-succotash/16",src:"images/16.png",str:"PC"},
				{href:"https://icegeeker.github.io/effective-succotash/17",src:"images/17.png",str:"PC-"},
				]
						}
		})
		var item_3=new Vue({
			el:"#item-3",
			data:{
				img:[{src:"images/1.png",str:"个人网站列表-PC"},
				{src:"images/2.png",str:"PC-3"},
				{src:"images/3.png",str:"PC-3"},
				{src:"images/4.png",str:"PC-3"},
				{src:"images/5.png",str:"PC-3"},
				{src:"images/6.png",str:"V2-PC-3"},
				{src:"images/7.png",str:"PC-3"},
				{src:"images/8.png",str:"PC-3"},
				{src:"images/9.png",str:"PC-3"},
				]
						}
		})
		var item_4=new Vue({
			el:"#item-4",
			data:{
				img:[{src:"images/1.png",str:"个人网站列表-PC",href:"https://www.baidu.com"},
				{src:"images/2.png",str:"PC-互联"},
				{src:"images/3.png",str:"PC-科技"},
				{src:"images/4.png",str:"PC-互联网"},
				{src:"images/5.png",str:"PC-互联网"},
				{src:"images/6.png",str:"V2-PC-IT互联网"},
				{src:"images/7.png",str:"PC-科技"},
				{src:"images/8.png",str:"PC-旅游"},
				{src:"images/9.png",str:"PC-IT"},
				]
						}
		})
	</script>
</body>
</html>