/* CSS Document */
/*top*/
#top{height:80px; line-height:80px; position:fixed; width:100%; z-index:9; top:0; background:#fff; border-bottom:1px solid #E6E6E6;}
#top ul{margin-left:223px;}
#top li{float:left;}
#top li.li2{width:87px;}
#top li a{display:inline-block; font-size:13px; padding:0 17px; color:#6F6F6F;}
#top li:hover a{background:#FF0000; color:#fff;}
#top li div{display:none; height:59px; line-height:59px; padding-left:42px; margin-top:-1px;}
#top li div a{color:#B7B7B9;}
#top li:hover div{display:block; width:1000px; background:#4E4C51;} 
#top li.li2:hover div a{background:none;}
#top span{displa:block; width:1px; height:80px; background:#E7E7E7;}
#top p{font-size:13px; color:#8C8C8C; margin-left:14px;}
#top i{margin-top:35px; margin-left:10px;}
.navBtn,.userBtn{display:none;}

/*banner*/
#banner{margin-top:80px; position:fixed; width:100%; top:0; left:0; z-index:1;}

#banner .bd img{width:100%; display:block;}

#bg{background:#fff; position:relative; z-index:2; margin-top:990px;}

/*jituan*/
#jituan{padding-top:88px; padding-bottom:125px; background:#F2F2F2;}
#jituan .title h3{font-size:26px; color:#333333; font-weight:normal; text-align:center;}
#jituan .title p{color:#9A9A9A; text-align:center; margin-top:14px;}
#jituan ul{margin-top:70px;}
#jituan li{width:33.333%; box-sizing:border-box; float:left; text-align: center; padding-right:20px;}
#jituan li h3{color:#595959; font-weight:normal; margin-top:29px; margin-botttom:13px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#jituan li .sp_bg{width:35px; height:35px; border:1px solid #E8E8E8; border-radius:35px; line-height:35px; margin-left:180px; diplay:none;}
#jituan li span{font-size:13px; color:#B6B6B6;}
#jituan li p{font-size:14px; color:#737373; margin-top:28px; display:block; /*white-space:nowrap; overflow:hidden; text-overflow:ellipsis;*/}
#jituan li i{display:block; width:100px; height:1px; background:#DFDFDF; margin-left:150px; margin-top:13px; margin-bottom:22px;}
#jituan li a:hover .sp_bg{display:block; box-shadow:0 0 10px rgba(0,0,0,.2);}
#jituan li a:hover i{width:26px; transition: all ease-out .2s}
#jituan li a:hover h3{color:#E60012;}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
/*jituan*/
#chanye{margin-top:86px;}
#chanye .title h3{font-size:26px; font-weight:normal; color:#333333; text-align:center;}
#chanye .title p{font-size:12px; color:#8F8F8F; text-align:center; margin-top:15px;}
#chanye .title .p_list{margin-top:55px;}
#chanye .title .p_list a{display:inline-block; margin-right:63px; color:#9B9B9B;}
#chanye ul{margin-top:75px;}
#chanye li a{display:block; overflow:hidden;}
#chanye li{box-sizing:border-box; width:25%; float:left; position:relative; padding-right:20px;}
#chanye li img{width:100%; display:block; height:auto; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: 0s;}
/*#chanye li em{position:absolute; bottom:113px; right:88px; color:#FF0000;}
#chanye li i{position:absolute; bottom:99px; right:26px; color:#fff;}*/
#chanye li h3{font-size:14px; font-weight:normal; color:#666666; margin-top:28px; margin-bottom:13px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#chanye li p{color:#888888; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#chanye li span{width:286px; height:2px; display:block; background:#E9E9E9; margin-top:30px;}
#chanye li a:hover img{transform: scale(1.1, 1.1);}
#chanye li a b{width:0px; height:2px; display:block; background:#FF0000; position:relative; top:-1px;}
#chanye li a:hover b{width:286px; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; transition-property: all; transition-duration: 0.6s; transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transition-delay: 0s;}
#chanye a.more {background: transparent; border: 1px solid #dfdfdf; font-family: "HELVETICANEUELTPRO-THEX"; color: #9f9f9f; display: block; font-size: 14px; height: 50px; line-height: 50px; text-indent: 0px; transition: all 0.3s ease-out 0s; width: 300px; margin-left:40%; margin-top:82px; margin-bottom:118px; text-align: center; }

#chanye a.more::after { content: ""; display: block; width: 0; height: 52px; background-color: #FF3232; margin-top: -51px; transition: all 0.6s ease 0s; }

#chanye a.more:hover::after {width: 300px; height: 52px; }

#chanye a.more:hover { color: #fff; border: 1px solid #FF3232; }

/*jianjie*/
#jianjie{border-top:1px solid #E8E8E8;}
#jianjie>div{padding-top:82px;}
#jianjie>div h2{font-size:26px; color:#4A4A4A; text-align:center; margin-left:auto; font-weight:normal;}
#jianjie>div span{color:#8F8F8F; text-align:center; margin-top:12px; margin-bottom:60px; margin-left:auto; display:block;}
#jianjie p{color:#8F8F8F; text-align:center; }

#jianjie .more,#news .more {border: 1px solid #ccc; position: relative; transition: all 0.5s ease 0s; height:32px; line-height:32px; text-align:center; margin-left:43%; margin-top:61px; margin-bottom:98px; display:block; width:160px; color: transparent; background:url(../img/jiantou.png) no-repeat 32px -97px; }

#jianjie a.more:hover,#news a.more:hover {border: 1px solid transparent; }

#jianjie a.more::after,#news a.more::after {content: ""; width: 160px; height: 32px; border: 3px solid transparent; opacity: 0; transition: all 0.5s ease 0s; margin: 0 auto; text-align: center; position: absolute; top: -1px; left: -1px; transform: scale(1, 1);}

#jianjie a.more:hover::after,#news a.more:hover::after { width: 158px; height: 36px; border: 3px solid #038A03; opacity: 1; margin: 0 auto; transform: scale(1.1, 1.1); text-align: center; top: -5px; left: -2px; }

#jianjie a.more:hover,#news a.more:hover { background:url(../img/jiantou.png) no-repeat 32px -126px; background-color: transparent; background-image: url("../img/jiantou.png");
background-repeat: no-repeat; background-attachment: scroll; background-position: 32px -126px; background-clip: border-box; background-origin: padding-box; background-size: auto auto;}

/*city*/
#city{background:#E85045; position:relative; padding-bottom:125px;}
#city img{width:565px; heihgt:163px; display:block; position:absolute; left:28%; top:-40px;}
#city .text h3{font-size:24px; font-weight:normal; color:#fff; padding-top:180px; margin-bottom:54px; text-align:center;}
#city .text h3 font{font-size:60px;}
#city .text p{text-align:center; color:#fff;}

/*news*/
#news{margin-top:81px;}
#news>h3{color:#333333; font-size:26px; font-weight:normal; margin-bottom:14px; text-align:center;}
#news>span{text-align:center; color:#979797; margin-left:48%;}
#news p{color:#8F8F8F;}
#news ul{margin-top:70px; text-align:center;}
#news li{width:33.333%; box-sizing:border-box; float:left; padding-right:20px; transition:All 0.4s ease-in-out; -webkit-transition:All 0.4s ease-in-out;    -moz-transition:All 0.4s ease-in-out; -o-transition:All 0.4s ease-in-out;}
#news li.last{padding-right:0;}
#news li img{display:block; width:100%; height:189px;}
#news li h3{font-size:16px; font-weight:normal; color:#333333; margin-top:16px; margin-bottom:11px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#news li i{width:376px; height:1px; display:block; background:#EFEFEF; margin-top:30px; margin-bottom:36px;}
#news li p{color:#666666; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; text-align:center;}
#news li:hover{transform:translate(0,-20px); -webkit-transform:translate(0,-20px);    -moz-transform:translate(0,-20px); -o-transform:translate(0,-20px); -ms-transform:translate(0,-20px);}
#news li:hover h3{color:#FF5959;}

/*link*/
#link{position:relative;}
#link ul{margin-top:70px;}
#link li{float:left; width:16%; padding-left:50px; box-sizing:border-box;}
#link li.five{margin-top:-3%;}
#link li img{display:block; width:100%; height:auto; vertical-align:middle;}

#link i{ width: 40px; height: 20px; display: block; transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; position:absolute; top:85px; cursor:pointer;}

#link i.left{background: url(../img/jiantou.png) no-repeat 0px -50px;  left:0;}

#link i.right{background: url(../img/jiantou.png) no-repeat -37px -50px; right:0;}

#link i.left:hover{background: url(../img/jiantou.png) no-repeat 0px -70px; }

#link i.right:hover{background: url(../img/jiantou.png) no-repeat -37px -70px; }

/*footer*/
#footer{background:#F0F0F0; padding-top:73px; padding-bottom:15px;}
#footer h{color:#666666; font-weight:normal;}
#footer ul{margin-top:33px; margin-bottom:53px;}
#footer li{float:left; margin-right:10%; color:#999999; font-size:13px;}
#footer p a{display:inline-block; width:29px; height:29px; border-radius:30px;background:#A8A8A8; margin-right:20px; line-height:29px; text-align:center;}
#footer p a img{padding-top:5px;}
#footer span{display:block; width:100%; height:1px; background:#E4E4E4; margin-bottom:19px; margin-top:93px;}
#footer p{color:#999999;}

/*side*/
#leftsead{width:131px; position:fixed; top:400px; right:0; z-index:9999;}
#leftsead li{width:131px; height:60px;}
#leftsead li img{float:right;}
#leftsead li a{height:49px; float:right; display:block; min-width:47px; max-width:131px;}
#leftsead li a .shows{display:block;}
#leftsead li a .hides{margin-right:-143px; cursor:pointer; cursor:hand;}
#leftsead li a.youhui .hides{display:none; position:absolute; right:190px; top:2px;}


@media (max-width:1199px) {#top li a{padding:0 10px;} #top ul{margin-left:7%;} .logo img{width:90%;} #jituan li .sp_bg{margin-left:45%;} #jituan li i{margin-left:35%;} #link i{top:65%;}}
@media (max-width:990px) {#top ul{margin-left:-9%;} .logo img{width:60%; padding-top:20px;} #top span{display:none;} #top i{margin-left:0;} #top p{display:none;} #top i{display:none;}  #jituan li i{margin-left:30%;} #chanye a.more{margin-left:30%;} #city img{left:20%;} #link i{top:70%;} #link i.right{right:-10px;}}
@media (max-width:744px) {#top ul{float:none; position:absolute; top:80px; width:100%; left:0; background:rgba(0,0,0,.3); z-index:1; display:none; margin-left:0;} #top ul li{float:none; width:100%;} #top ul li a{text-align:left; width:100%; box-sizing:border-box; padding:0 30px;} #top .navBtn,#top .userBtn{position:absolute; display:inline-block; right:15px; top:-5px; font-size:30px; color:#333; cursor:pointer;}
	#top .userBtn{right:55px;} #top li:hover a{background:rgba(255,0,0,.3);} #top li.li2{width:100%;} #top li div a{display:inline-block; width:28%;}#top .searck{display:block;} #city img{left:12%;} #news .more {margin-left:36%;}}
@media (max-width:686px) {#jituan li i{margin-left:23%;} #jianjie .more{margin-left:38%;} #city img{left:9%;}}
@media (max-width:681px) {#link li.five{margin-top:-2%;}}
@media (max-width:639px) {#chanye a.more{margin-left:25%;} #city img{width:450px; left:12%;}}
@media (max-width:546px) {#link{display:none;}}
@media (max-width:532px) {#jituan li i{margin-left:18%;} #jituan li p{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}}
@media (max-width:513px) {#city img{width:390px;}}
@media (max-width:491px) {#chanye a.more{margin-left:20%;}}
@media (max-width:442px) {#city img{width:300px;} #city .text h3{padding-top:100px;}}
@media (max-width:414px) {#jituan li i{margin-left:12%;} #chanye a.more{margin-left:10%;} #jianjie .more{margin-left:30%;} #news .more {margin-left:30%;}}
@media (max-width:320px) {#jituan li i{margin-left:8%;} #chanye a.more {width:200px; margin-left:15%;} #chanye a.more:hover::after {width: 200px;} #chanye .title .p_list a{margin-right:50px;} #city img{width:260px;} #city .text h3{font-size:20px;} #city .text h3 font{font-size:40px;}#news .more {margin-left:25%;}}